/* Save an empty style text box to reload the default example styles.
 * These styles are provided as examples only - modifications may be 
 * necessary to customize the layout for your website. Social sharing
 * buttons can be aligned vertically, horizontally, floated, etc.
 */

/* make sure the Facebook flyout does not get clipped */
#page { overflow:visible; }

/* The .wpsso-buttons class is common to all other button classes
 * (excerpt, content, shortcode, widget). Any change made to this
 * class will affect all other button layouts.
 */
.wpsso-buttons img { border:none; }
.wpsso-buttons img:hover { border:none; }

/* fix the Facebook "like" flyout on 2012 based themes */
.wpsso-buttons iframe { max-width:none; }

.wpsso-buttons > div,		/* default uses small buttons */
.wpsso-preset-small_share_count .wpsso-buttons > div { 
	display:inline-block;
	vertical-align:bottom;
	text-align:left;
	line-height:20px;
	padding:0;
	margin:5px;
	width:100px;
	height:20px;
}

.wpsso-preset-large_share_vertical .wpsso-buttons > div,
.wpsso-preset-large_share_vertical .wpsso-buttons > div[class*="-button"] { 
	line-height:65px;
	width:60px;
	height:65px;
}

.wpsso-buttons div.facebook-button,
.wpsso-preset-small_share_count
	.wpsso-buttons div.facebook-button { width:139px; }

.wpsso-buttons div.fb-share-button,
.wpsso-preset-small_share_count 
	.wpsso-buttons div.fb-share-button { width:105px; }

.wpsso-buttons div.fb-share-button span {
	display:inline-block	!important;
	vertical-align:middle	!important;
}

.wpsso-buttons div.gplus-button,
.wpsso-preset-small_share_count 
	.wpsso-buttons div.gplus-button { width:99px; }

.wpsso-buttons div.gplusone-button,
.wpsso-preset-small_share_count 
	.wpsso-buttons div.gplusone-button { width:75px; }

.wpsso-buttons div.twitter-button,
.wpsso-preset-small_share_count 
	.wpsso-buttons div.twitter-button { width:89px; }

.wpsso-buttons div.linkedin-button,
.wpsso-preset-small_share_count 
	.wpsso-buttons div.linkedin-button { width:110px; }

.wpsso-buttons div.pinterest-button,
.wpsso-preset-small_share_count 
	.wpsso-buttons div.pinterest-button { width:78px; }
.wpsso-preset-large_share_vertical 
	.wpsso-buttons div.pinterest-button { height:40px; margin-top:42px; }

.wpsso-buttons div.reddit-button,
.wpsso-preset-small_share_count 
	.wpsso-buttons div.reddit-button { width:130px; }
.wpsso-preset-large_share_vertical 
	.wpsso-buttons div.reddit-button { margin-bottom:10px; }

.wpsso-buttons div.stumbleupon-button,
.wpsso-preset-small_share_count
	.wpsso-buttons div.stumbleupon-button { width:84px; }
.wpsso-preset-large_share_vertical
	.wpsso-buttons div.stumbleupon-button { height:60px; line-height:60px; }

.wpsso-buttons div.tumblr-button,
.wpsso-preset-small_share_count 
	.wpsso-buttons div.tumblr-button { width:85px; }
.wpsso-preset-large_share_vertical 
	.wpsso-buttons div.tumblr-button { height:20px; line-height:20px; }

